li{
    list-style-type: none;
    display: inline;
    text-align: left;
    color:aliceblue;
    padding: 50px;
    margin: 50px;
    font-size: large;
}
img {
    height: 50px;
    width: 50px;
  }
.HomePageStud1{
    background-color: #1A2238;
    color: white;
}
.HomePageStud{
    background-color:#C4C4C4 ;
}